.my-card {
	width: 95%;
	margin: 10% 2.5%;
	margin-top: 10%;

	border: 2px solid gray;
	color: var(--primary-color);
	font-weight: bolder;
}

.my-card-img {
	background-color: gray;
}

.my-card-body {
	padding: 5%;
	text-align: center;
	background-color: #ffffff;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	.my-card {
		height: 100%;
		width: 330px;
	}

	.my-card-img {
		width: 100%;
		height: 300px;
	}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	.my-card {
		width: 230px;
	}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
	.my-card {
		width: 260px;
	}
}
